body {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
}

nav {
    display: flex;
    background-color: #0f1111;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;

}

#Amazon_logo {
    height: 80px;

    padding: 0px;
}

#deliver_to {
    margin: 0px;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

#address {
    font-size: 0.9rem;
    margin-left: 50px;
}

#searchnav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar {
    padding: 10px 170px;
    border: transparent;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
}

#searchbutton {
    padding: 0.6rem;
    border: transparent;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e8b527;
}

#search {
    padding: 0px 50px 0 px 50px;
}

#countryflag {
    height: 30px;
    padding-right: 5px;
}

#country {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#loginprofile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#profilepic {
    height: 45px;
    padding-right: 5.5px;
}
#ret_ord{
    font-size: 1rem;
}
#ord{
    padding-left: 12px;
}
#cart{
    font-size: 2rem;
}